{% extends "padre.html" %}

{% load static %}

{% block titulo %}

    <h1>Los atletas cargados hasta el momento son:</h1>

{% endblock %}

{% block contenido %}

{% for atleta in lista_atletas %}

    <a href="{% url 'Detalle Atletas' atleta.id %}"> {{atleta}} </a>
    <a href="{% url 'Actualizar Atletas' atleta.id %}" style="color: green"><b>Actualizar Datos</b></a>
    <a href="{% url 'Borrar Atletas' atleta.id %}"style="color: red"><b>Borrar</b></a>
    <br>
    <br>

{% endfor %}

<a class="header__button" href="{% url 'Formulario de Atletas' %}">Agregar Atleta</a>
<br>
<br>

{% endblock %}